@each $color, $value in $colors {
  .text-#{$color} {
    color: #{$value} !important;
  }
  .bg-#{$color} {
    background-color: #{$value} !important;
  }
}

.w-100 {
  width: 100%;
}

.flex-1 {
  flex: 1;
}

.h-100 {
  height: 100%;
}
