@each $color, $value in $colors {
  .text-#{$color} {
    color: #{$value} !important;
  }
  .bg-#{$color} {
    background-color: #{$value} !important;
  }
}

.w-100 {
  width: 100% !important;
}

.flex-1 {
  flex: 1 !important;
}

.h-100 {
  height: 100% !important;
}

.w-auto {
  width: auto !important;
}

.cursor-pointer {
  cursor: pointer;
}

.font-bold {
  font-weight: 600;
}

.inherit-space {
  display: inherit;
  gap: inherit;
  align-items: inherit;
  flex-direction: inherit;
  flex-wrap: inherit;
  justify-content: inherit;
}

@media (max-width: 767px) {
  .btn-block {
    width: 100%;
  }
}