.modal-content {
  padding: $spacer;

  .btn:not(.no-filter) {
    border-radius: 4px;
  }
}

.modal-title {
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 16px;
}

.modal-footer {
  padding-top: 16px;
}

.modal-body {
  padding-bottom: $spacer;
}
.modal-header + .modal-body {
  padding-top: $spacer;
}

.form-select option {
  padding: 16px;
  --bs-border-radius: 6px !important;
  --bs-border-radius-sm: 6px !important;
}
.select2 + .select2-container {
  width: 100% !important;
}

.select2-container--bootstrap-5 .select2-selection {
  font-size: 14px;
  padding: 8px 8px;
  height: 40px;
}

.select2-container--bootstrap-5.select2-container--focus .select2-selection,
.select2-container--bootstrap-5.select2-container--open .select2-selection {
  box-shadow: none;
}

span.select2-dropdown {
  margin-top: 8px;
  margin-bottom: 8px;
  border-radius: 4px !important;
  border: 1px solid $border-color !important;
  padding: 16px;
  box-shadow: $box-shadow;
}

.select2-container--bootstrap-5.select2-container--focus .select2-selection,
.select2-container--bootstrap-5.select2-container--open .select2-selection {
  border-color: $border-color !important;
  border-width: 1px !important;
  border-radius: 4px !important;
}

.select2-container--bootstrap-5
  .select2-dropdown
  .select2-results__options
  .select2-results__option.select2-results__option--selected,
.select2-container--bootstrap-5
  .select2-dropdown
  .select2-results__options
  .select2-results__option[aria-selected="true"]:not(
    .select2-results__option--highlighted
  ) {
  background-color: $green-100;
  color: $green;
  font-weight: 600;

  &:before {
    opacity: 1;
    color: $green;
  }
}

.select2-container--bootstrap-5
  .select2-dropdown
  .select2-results__options
  .select2-results__option {
  border-radius: 4px;
  font-size: 14px;
  transition: $transition-base;
  display: flex;
  align-items: center;

  &.select2:before {
    font-family: "ultralysis";
    content: "\e918";
    margin-right: 8px;
    font-size: 16px;
    color: $black;
    opacity: 0;
    transition: $transition-base;
  }

  &:hover {
    &:before {
      opacity: 1;
    }
  }
}

.select2-container--bootstrap-5
  .select2-dropdown
  .select2-results__options:not(.select2-results__options--nested) {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.select2-dropdown:has(.select2-sm-option) {
  padding: 8px !important;
}
.select2-sm-option {
  font-size: 12px !important;
}

.form-select-sm + .select2-container .select2-selection__rendered {
  padding-right: 4px !important;
}

.form-select-sm ~ .select2-container--bootstrap-5 .select2-selection--single {
  padding: 5px 2px;
}
.form-select-sm ~ .select2-container--bootstrap-5 .select2-selection {
  min-height: 30px;
  height: 30px;
  font-size: 12px;
  background-color: $gray-200;
}

.form-label {
  margin-bottom: 4px;
  font-size: 14px;
}

.warning-title {
  color: $danger;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 8px;
}

.warning-text {
  font-size: 14px;
  font-weight: 600;
}

.btn-outline-secondary {
  --bs-btn-color: #{$gray-900};
  --bs-btn-border-color: #{$border-color};
  --bs-btn-bg: #{$gray-100};

  &:hover {
    --bs-btn-hover-color: #{$gray-900};
    --bs-btn-hover-bg: #{$gray-400};
    --bs-btn-hover-border-color: #{$gray-400};
  }
}

.form-check-input[type="radio"] {
  height: 1.5em;
  width: 1.5em;
  margin-right: 0.5em;
  margin-top: 0;
  cursor: pointer;
  transition: $transition-base;

  & + label {
    transition: $transition-base;
  }
  &:checked {
    background-color: transparent;
    border-color: $gray-400;

    & + label {
      color: $blue;
    }
  }
}
div:not(.form-switch) {
  & > .form-check-input[type="checkbox"] {
    height: 1.5em;
    width: 1.5em;
    margin-right: 0.5em;
    margin-top: 0;
    cursor: pointer;
    transition: $transition-base;

    & + label {
      transition: $transition-base;
    }
    &:checked {
      background-color: $blue;
      border-color: $blue;

      & + label {
        color: $blue;
      }
    }
  }
}

.form-switch {
  .form-check-input[type="checkbox"] {
    font-size: 16px;
    margin-left: -2em;
    height: 1.25em;
    cursor: pointer;
  }
}

.check-box-group {
  display: flex;
  flex-wrap: wrap;
  row-gap: 8px;
  column-gap: 4px;
}

.card {
  padding: 0px 16px;
  --bs-card-spacer-y: 10px;
  --bs-card-spacer-x: 0;
  --bs-card-cap-padding-y: 10px;
  --bs-card-cap-padding-x: 0;
}
