$light: #e0e3e5;

$font-family-sans-serif: "Inter", sans-serif;
$font-weight-base: 500;

$spacer: 24px !default;

$focus-ring-width: 0rem;
$focus-ring-opacity: 0;
$focus-ring-color: transparent;
$focus-ring-blur: 0;
$focus-ring-box-shadow: 0 0 $focus-ring-blur $focus-ring-width $focus-ring-color !default;

$border-color: #e0e3e5;
$border-radius: 6px;

$btn-icon-font-size: 16px;
$btn-icon-padding: 6px;
$btn-icon-padding-sm: 3px;

$btn-font-size: 12px;
$btn-padding-y: 6px;
$btn-padding-x: 16px;
$btn-padding-y-sm: 6px;
$btn-padding-x-lg: 16px;

$header-bg: white;
$header-height: 66px;
$header-border-color: $border-color;
$header-padding-x: $spacer;
$header-padding-y: 6px;

$sider-width: 264px;
$sider-bg: #111416;
