.ag-theme-alpine {
  flex: 1;
  width: 100%;
  height: 100%;
  color: #70757c;
}

.ag-root-wrapper {
  border-radius: 8px;
}

.ag-theme-alpine div.ag-row {
  font-size: 12px !important;
  color: #70757c;
}

.ag-root-wrapper,
.ag-body {
  --ag-border-color: #{$border-color} !important;
  --ag-secondary-border-color: #{$border-color} !important;
}

.ag-body-vertical-scroll {
  border-left: 1px solid $border-color;
}
.ag-body-vertical-scroll,
.ag-body-vertical-scroll-viewport {
  width: 3px !important;
  min-width: 3px !important;
  max-width: 3px !important;

  &::-webkit-scrollbar-thumb {
    background-color: $gray-500;
  }
}

.ag-checkbox-input-wrapper {
  input {
    cursor: pointer;
  }
  &:active,
  &:focus-within {
    outline: none;
    --ag-input-focus-box-shadow: none;
  }
  &:after {
    outline: none !important;
    cursor: pointer;
  }

  &:not(.ag-indeterminate):after {
    font-family: "ultralysis";
    --ag-icon-font-code-checkbox-unchecked: "\e91e";
  }
  &.ag-checked:after {
    font-family: "ultralysis";
    --ag-icon-font-code-checkbox-checked: "\e91d";
    --ag-checkbox-checked-color: #{$green};
  }
}

.grid-actions {
  display: inline-flex;
  margin-left: auto;
  gap: 12px;
}

.ag-cell {
  .form-switch {
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    height: 36px;
  }
}
