.box {
  display: flex;
  align-items: center;
  gap: 12px;
}

.box-sm {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}

.box-vertical {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.body-title {
  font-size: 18px;
  font-weight: 600;
}

.body-actions {
  display: flex;
  gap: 8px;
  justify-content: space-between;
  align-items: center;
}

.selected-chips {
  background-color: $gray-200;
  color: $black;
  font-size: 12px;
  padding: 2px 8px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 4px;

  .ultralysis-icon {
    font-size: 16px;
    color: $danger;
  }
}
