.body-header:not(.no-flex) {
  display: flex;
  gap: 12px;
  justify-content: space-between;
  align-items: center;
}
.body-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.box {
  display: flex;
  align-items: center;
  gap: 12px;
}

.box-sm {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}

.no-gap {
  gap: 0 !important;
}

.icon-lg {
  font-size: 24px;
}

.box-vertical {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.body-title {
  font-size: 18px;
  font-weight: 600;
}

.body-subtitle {
  font-size: 16px;
  font-weight: 600;
  display: block;

  & > * {
    display: inline-block;
    vertical-align: middle;
  }
}

.body-actions {
  display: flex;
  gap: 8px;
  justify-content: flex-end;
  align-items: center;
}

.fixed-to-header {
  height: $header-height;
  position: fixed;
  top: 0;
  left: $sider-width;
  right: 0;
  padding: 0px $spacer;
}

.selected-chips {
  .ultralysis-icon {
    cursor: pointer;
  }
}

.selected-chips {
  background-color: $gray-200;
  color: $black;
  font-size: 12px;
  padding: 2px 8px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 4px;

  .ultralysis-icon {
    font-size: 16px;
    color: $danger;
  }
}

@media (max-width: 1024px) {
  .body-header:not(.fixed-to-header) {
    .body-title, .body-subtitle {
      padding-bottom: 8px;
      border-bottom: 1px solid $border-color;
      width: 100%;
    }
  }
  .body-header:not(.no-flex, .fixed-to-header) {
    flex-direction: column;
    align-items: flex-start;
  }
  .body-actions {
    align-self: flex-end;
    justify-content: flex-end;
    flex-wrap: wrap;
  }
}
