%btn-icon {
  --bs-btn-border-radius: 50%;
  --bs-btn-font-size: #{$btn-icon-font-size};
  line-height: 0;
  font-weight: 600;
}

.btn-icon {
  @extend %btn-icon;
  --bs-btn-padding-y: #{$btn-icon-padding};
  --bs-btn-padding-x: #{$btn-icon-padding};
}

.btn-icon-sm {
  @extend %btn-icon;
  --bs-btn-padding-y: #{$btn-icon-padding-sm};
  --bs-btn-padding-x: #{$btn-icon-padding-sm};
}

%btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-weight: $font-weight-semibold;

  &.btn-outline-light {
    --bs-btn-color: $body-color;
  }
}

.btn {
  @extend %btn;
  .ultralysis-icon {
    font-size: 16px;
    font-weight: 600;
  }
}
.btn-lg {
  @extend %btn;
  gap: 12px;
  .ultralysis-icon {
    font-size: 20px;
    font-weight: 600;
  }
}
