%btn-icon {
  --bs-btn-border-radius: 50%;
  --bs-btn-font-size: #{$btn-icon-font-size};
  line-height: 0;
  .ultralysis-icon {
    font-weight: 500 !important;
  }
}

.btn-icon {
  @extend %btn-icon;
  --bs-btn-padding-y: #{$btn-icon-padding};
  --bs-btn-padding-x: #{$btn-icon-padding};
}

.btn-icon-sm {
  @extend %btn-icon;
  --bs-btn-padding-y: #{$btn-icon-padding-sm};
  --bs-btn-padding-x: #{$btn-icon-padding-sm};
}

%btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-weight: $font-weight-semibold;
  transition: $transition-base;

  &.btn-outline-light {
    --bs-btn-color: $body-color;
  }
}

.btn {
  @extend %btn;
  .ultralysis-icon {
    font-size: 16px;
    font-weight: 600;
  }
}
.btn-lg {
  @extend %btn;
  gap: 12px;
  .ultralysis-icon {
    font-size: 20px;
    font-weight: 600;
  }
}

.btn-outline-light:hover {
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #000;
  --bs-btn-hover-border-color: #000;
}
.btn-outline-light.active {
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #000;
  --bs-btn-active-border-color: #000;
}
.btn-outline-danger {
  --bs-btn-border-color: #{$border-color};
}
